<%= image_tag 'top.jpg', class: 'img-fluid mx-auto d-block', style: 'max-width: 100%;' %>
<div class="container px-5 py-24" style="font-family: 'arial unicode ms';">
  <h1 class="display font-weight-bold text-center text-gray-1000 mb-5"><%= t('.how-to-use')%></h1>
  <div class="row">
    <div class="text-center">
      <p class="word">
        <span>毎</span>
        <span>日</span>
        <span>記</span>
        <span>録</span>
        <span>を</span>
        <span>し</span>
        <span>よ</span>
        <span>う</span>
      </p>
      <br>
      <br>
      <p>記録はデフォルトで4項目設定されています。</p>
      <p>今日節約できた項目にチェックをすると節約合計金額に加算されます。</p>
      <p>また、星マークの節約項目はユーザー独自に作成できるよ！</p>
      <br>
      <br>
      <br>
      <%= image_tag 'record_sample.jpeg', class: 'img-fluid mx-auto d-block', style: 'max-width: 100%;' %>
    </div>
    <div class="text-center mt-5">
      <p class="word">
        <span>節</span>
        <span>約</span>
        <span>術</span>
        <span>を</span>
        <span>共</span>
        <span>有</span>
        <span>し</span>
        <span>よ</span>
        <span>う</span>
      </p>
      <br>
      <br>
      <p>ちりつも節約には投稿機能があります。</p>
      <p>あなたの日々やってる節約など、節約に関するものを投稿しよう！</p>
      <p>投稿には、節約に関するタグ付けができます。</p>
      <p>検索もできるので気になる節約を見つけてみましょう。</p>
      <br>
      <br>
      <br>
      <%= image_tag 'post_sample.png', class: 'img-fluid mx-auto d-block', style: 'max-width: 100%;' %>
    </div>
    <div class="text-center mt-5">
      <p class="word">
        <span>目</span>
        <span>標</span>
        <span>を</span>
        <span>決</span>
        <span>め</span>
        <span>よ</span>
        <span>う</span>
      </p>
      <br>
      <br>
      <p>節約の目標とその金額を設定できます。</p>
      <p>目標を持つことで、モチベーション維持を保つことができます！</p>
      <p>目標に向かって節約を頑張りましょう。</p>
      <br>
      <br>
      <br>
      <%= image_tag 'target_sample.png', class: 'img-fluid mx-auto d-block', style: 'max-width: 100%;' %>
    </div>
  </div>
    <div class="text-center mt-5">
      <p class="word">
        <span>節</span>
        <span>約</span>
        <span>ラ</span>
        <span>イ</span>
        <span>フ</span>
        <span>を</span>
        <span>楽</span>
        <span>し</span>
        <span>も</span>
        <span>う</span>
      </p>
  </div>
    <div class="text-center mt-5">
      <%= button_to (t 'defaults.login'), user_session_path, method: :get, class: 'btn-large' %>
  </div>
</div>
<br>
<section class="top-bootom center-block bg-light">
  <div class="mt-3 py-5">
    <div class="col-lg-6 offset-lg-3">
      <h3 class="text-center mb-4 border-bottom pb-3">友達追加</h3>
      <br>
      <p class="text-center mb-4">友達追加をしていただくとアプリが使いやすくなります！</p>
      <div class="text-center mb-3">
      <a href="https://lin.ee/YGnyorU"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0"></a>
    </div>
  </div>
</section> 