<div class="background-image">
  <div class="content">
    <h1 class="user-heading-lv1"><%= t '.title' %></h1>
    <% @users.each do |user| %>
      <div class="user-ranking">
        <span class="ranking"><%= user.rank %></span>
      </div>
      <div class="user-info">
        <%= link_to user_path(user), class: "edit-link" do %>
          <%= image_tag user.avatar.url, class: 'rounded-circle', id: 'preview', size: '130x130' %>
          <h2 class="heading-lv2"><%= user.decorate.name %></h2>
        <% end %>
          <% if user.total_savings.present? %>
            <p class="text"><%= t '.total_savings' %><%= user.total_savings %>円</p>
          <% else %>
            <p class="text"><%= t '.no_savings' %></p>
          <% end %>
      </div>
      <hr>
    <% end %>
    <%= paginate @users, theme: 'bootstrap-5' %>
  </div>
</div>