<header>
  <div class="main-menu">
    <div class="logo">
      <%= link_to root_path,class: "Editlink" do %>
        <p>ちりつも節約</p>
      <% end %>
    </div>
    <div class="pc-menu">
      <ul>
        <li>
          <%= link_to (t 'defaults.user_new'), new_user_path %>
        </li>
        <li>
          <%= link_to (t 'defaults.login'), login_path %>
        </li>
        <li>
          <%= link_to (t 'defaults.service'), explanation_path %>
        </li>
      </ul>
    </div>
    <div class="sp-menu">
      <input type="checkbox" id="sp-menu__check">
      <label for="sp-menu__check" class="sp-menu__box">
        <span></span>
      </label>
      <div class="sp-menu__content">
        <ul class="sp-menu__list">
          <li class="sp-menu__item">
            <%= link_to (t 'defaults.login'), login_path, class: "sp-menu__link" %>
          </li>
          <li class="sp-menu__item">
            <%= link_to (t 'defaults.service'), explanation_path, class: "sp-menu__link" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

