<header>
  <nav class="navbar navbar-expand-lg navigation navbar-light bg-light">

    <%= link_to root_path, class: 'navbar-brand' do %>
    <% end %>

    <button class='navbar-toggler' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto main-nav align-items-center">
        <li class="nav-item">
          <%= link_to (t 'defaults.service'), explanation_path,class: 'dropdown-item' %>
          <%= link_to (t 'defaults.my_page'), my_page_path,class: 'dropdown-item' %>
          <%= link_to (t 'defaults.post'), new_post_path,class: 'dropdown-item' %>
          <%= link_to (t 'defaults.record'), records_path,class: 'dropdown-item' %>
          <%= link_to (t 'defaults.target'), new_target_path,class: 'dropdown-item' %>
          <%= link_to (t 'defaults.logout'), logout_path, class: 'dropdown-item',  data: { turbo_method: :delete } %>
        </li>
      </ul>
    </div>
  </nav>
</header>