<header>
  <div class="main-menu">
    <%= link_to root_path,class: "edit-link" do %>
      <%= image_tag 'logo.png', class: 'img-fluid mx-auto d-block' %>
    <% end %>
    <div class="pc-menu">
      <ul>
        <li class="left-aligned-link">
          <%= link_to posts_path do %>
            <i class="far fa-folder-open"></i>
            <%= (t 'defaults.posts') %>
          <% end %>
        </li>
        <li class="left-aligned-link">
          <%= link_to users_path do %>
            <i class="fas fa-chess-queen"></i>
            <%= (t 'defaults.user_list') %>
          <% end %>
        </li>
        <li class="left-aligned-link">
          <%= link_to records_path do %>
            <i class="fas fa-pen"></i>
            <%= (t 'defaults.record') %>
          <% end %>
        </li>
        <li class="user-menu">
          <div class="user-image">
            <%= link_to '#', class: 'dropdown-trigger' do %>
              <%= image_tag current_user.avatar.url, class: 'rounded-circle', size: '50x50', alt: "User Avatar" %>
            <% end %>
          </div>
          <div class="user-dropdown">
            <div class="user-name">
              <%= link_to profile_path do %>
                <%= current_user.decorate.name %>
              <% end %>
            </div>
            <%= link_to (t 'defaults.my_page'), my_page_path %>
            <% if current_user.target %>
              <%= link_to (t 'defaults.target_edit'), edit_target_path(current_user.target) %>
            <% else %>
              <%= link_to (t 'defaults.target'), new_target_path %>
            <% end %>
            <%= link_to t('defaults.logout'), destroy_user_session_path, method: :delete, onclick: "return confirm('ログアウトしますか？');" %>
            <a href="https://lin.ee/YGnyorU"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0"></a>
          </div>
        </li>
      </ul>
    </div>
    <div class="sp-menu">
      <input type="checkbox" id="sp-menu__check">
      <label for="sp-menu__check" class="sp-menu__box">
        <span></span>
      </label>
      <div class="sp-menu__content">
        <ul class="sp-menu__list">
          <li class="sp-menu__item">
            <%= link_to (t 'defaults.posts'), posts_path, class: "sp-menu__link" %>
          </li>
          <li class="sp-menu__item">
            <%= link_to (t 'defaults.my_page'), my_page_path, class: "sp-menu__link" %>
          </li>
          <li class="sp-menu__item">
            <%= link_to (t 'defaults.user_list'), users_path, class: "sp-menu__link" %>
          </li>
          <li class="sp-menu__item">
            <%= link_to (t 'defaults.record'), records_path, class: "sp-menu__link" %>
          </li>
          <li class="sp-menu__item">
            <% if current_user.target %>
              <%= link_to (t 'defaults.target_edit'), edit_target_path(current_user.target), class: "sp-menu__link" %>
            <% else %>
              <%= link_to (t 'defaults.target'), new_target_path, class: "sp-menu__link" %>
            <% end %>
          </li>
          <li class="sp-menu__item">
              <%= link_to t('defaults.logout'), destroy_user_session_path, method: :delete, onclick: "return confirm('ログアウトしますか？');", class: "sp-menu__link" %>
          </li>
          <li class="sp-menu__item">
              <a href="https://lin.ee/YGnyorU"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>