<div class="background-image">
  <div class="content">
    <% if @show_record_form %>
    <h1><%= t('.title') %></h1>
      <%= form_with(model: @records, url: record_path(@records), method: :patch) do |form| %>
        <table>
          <tbody>
            <tr>
              <td>
                <div class="item">
                  1, 外出時、マイボトルを持参した
                </div>
              </td>
              <td>
                <span style="white-space: nowrap;">100円</span>
              </td>
              <td>
                <div class="checkbox-wrapper">
                  <%= check_box_tag 'record[bottle_bring]' %>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="item">
                  2, お昼ご飯を弁当持参、または自炊した
                </div>
              </td>
              <td>
                <span style="white-space: nowrap;">300円</span>
              </td>
              <td>
                <div class="checkbox-wrapper">
                  <%= check_box_tag 'record[packed_lunch]' %>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="item">
                  3, 交通手段を徒歩、または自転車を利用した
                </div>
              </td>
              <td>
                <span style="white-space: nowrap;">200円</span>
              </td>
              <td>
                <div class="checkbox-wrapper">
                  <%= check_box_tag 'record[alternative_transportation]' %>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="item">
                  4, コンビニに行かなかった
                </div>
              </td>
              <td>
                <span style="white-space: nowrap;">300円</span>
              </td>
              <td>
                <div class="checkbox-wrapper">
                  <%= check_box_tag 'record[no_eating_out]' %>
                </div>
              </td>
            </tr>
            <% latest_savings_item_created_at = current_user.savings_items.order(created_at: :desc).limit(1).pluck(:created_at).first %>
            <% @savings_items.each do |savings_item| %>
              <% if savings_item.created_at == latest_savings_item_created_at %>
                <tr>
                  <td>
                    <div class="item">
                      <span class="star">&#9733;</span>
                        <%= savings_item.name %>
                    </div>
                  </td>
                  <td>
                    <span style="white-space: nowrap;"><%= savings_item.amount %>円</span>
                  </td>
                  <td>
                    <div class="checkbox-wrapper">
                      <%= check_box_tag "record[savings_item_ids][]", savings_item.id %>
                    </div>
                  </td>
                </tr>
              <% end %>
            <% end %>

          </tbody>
        </table>
        <%= form.submit '更新' %>
        <div class="item">
          <p><%= t('.total_savings') %><%= @savings %>円</p>
        </div>
      <% end %>
    <% else %>
      <p><%= t('.record_already_made') %></p>
      <p><%= t('.record_tomorrow') %></p>
      <div class="item">
          <p><%= t('.total_savings') %><%= @savings %>円</p>
      </div>
    <% end %>
      <div class="item">
        <% if @show_record_form && @savings_items.empty? %>
          <!-- 節約項目作成のリンクを表示 -->
          <%= link_to t('.create_savings_item'), new_savings_item_path, class: "edit-link" %>
        <% elsif !@savings_items.empty? %>
          <!-- 節約項目編集のリンクを表示 -->
          <%= link_to t('.edit_savings_item'), edit_savings_item_path(@savings_items.first), class: "edit-link" %>
        <% end %>
        <i class="fas fa-pen"></i>
      </div>
    <br>
    <div class="past-records">
      <h2><%= t('.past_record') %></h2>
      <br>
      <table>
        <thead>
          <tr>
            <th><%= t('.year_month') %></th>
            <th><%= t('.save_money') %></th>
          </tr>
        </thead>
        <tbody>
          <% @monthly_records.each do |record| %>
            <tr>
              <td><%= record[:month] %></td>
              <td><%= record[:total_savings] %>円</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

