<div class="background-image">
  <div class="content">
    <h1><%= t('.title') %></h1>
    <%= form_with(model: @records, url: record_path(@records), method: :patch) do |form| %>
      <table>
        <tbody>
          <tr>
            <td>
              <div class="item">
                １、外出時、マイボトルを持参した
              </div>
            </td>
            <td>
              <span style="white-space: nowrap;">100円</span>
            </td>
            <td>
              <div class="checkbox-wrapper">
                <%= check_box_tag 'record[bottle_bring]' %>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="item">
                ２、お昼ご飯を弁当持参、または自炊した
              </div>
            </td>
            <td>
              <span style="white-space: nowrap;">300円</span>
            </td>
            <td>
              <div class="checkbox-wrapper">
                <%= check_box_tag 'record[packed_lunch]' %>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="item">
                ３、交通手段を徒歩、または自転車を利用した
              </div>
            </td>
            <td>
              <span style="white-space: nowrap;">200円</span>
            </td>
            <td>
              <div class="checkbox-wrapper">
                <%= check_box_tag 'record[alternative_transportation]' %>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="item">
                ４、コンビニに行かなかった
              </div>
            </td>
            <td>
              <span style="white-space: nowrap;">300円</span>
            </td>
            <td>
              <div class="checkbox-wrapper">
                <%= check_box_tag 'record[no_eating_out]' %>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <%= form.submit '更新' %>
      <div class="item">
        <p><%= t('.total_savings') %><%= @savings %>円</p>
      </div>
    <% end %>
    <div class="past-records">
      <h2><%= t('.past_record') %></h2>
      <table>
        <thead>
          <tr>
            <th><%= t('.year_month') %></th>
            <th><%= t('.save_money') %></th>
          </tr>
        </thead>
        <tbody>
          <% @monthly_records.each do |record| %>
            <tr>
              <td><%= record[:month] %></td>
              <td><%= record[:total_savings] %>円</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%
=begin%>
 <script>
  function launchFireworks() {
    const fireworkElement = document.createElement("div");
    fireworkElement.className = "c-firework launch";
    document.body.appendChild(fireworkElement);

    const fireworkElement2 = document.createElement("div");
    fireworkElement2.className = "c-firework launch c-firework2";
    document.body.appendChild(fireworkElement2);

    const fireworkElement3 = document.createElement("div");
    fireworkElement3.className = "c-firework launch c-firework3";
    document.body.appendChild(fireworkElement3);

    setTimeout(() => {
      fireworkElement.remove();
      fireworkElement2.remove();
      fireworkElement3.remove();
    }, 5000); 
  }

  document.addEventListener("DOMContentLoaded", () => {
    const level = parseInt("<%= current_user.level || 1 %>");
    const intermediate = level >= 6 && level % 10 === 6; 
    if (intermediate) {
      launchFireworks();
    }

    const checkboxes = document.querySelectorAll('input[type="checkbox"]');
    checkboxes.forEach((checkbox) => {
      checkbox.addEventListener("click", () => {
        const checked = Array.from(checkboxes).some((checkbox) => checkbox.checked);
        if (checked && intermediate) {
          launchFireworks();
        }
      });
    });
  });
</script>
 
<%
=end%>
