<body class="wrap">
  <div class="content">  
    <h1 class="heading-lv1 text-center">マイページ</h1>
      <div class="profile-image">
        <%= image_tag @user.avatar.url, class: 'rounded-circle', id: 'preview', size: '130x130' %>
      </div>

      <h2 class="heading-lv2 heading-margin text-center"><%= @user.decorate.name %></h2>
      <p class="text text-center"><%= link_to (t 'profiles.edit.title'), profile_path, class: 'btn btn-success'%></p>

      <h3 class="heading-lv3 heading-margin text-center">節約帳</h3>
      <p class="text text-center">節約合計金額: <%= @savings %>円</p>
      <p class="text text-center">　　　レベル:<%= current_user.level || 1 %> (<%= determine_level(current_user.level || 1) %>)</p>
      <p class="text text-center">　　節約目標: <%= @user.target.target %></p>
      <p class="text text-center">　　目標金額: <%= @user.target.target_amount %>円</p>

      <h3 class="heading-lv3 heading-margin text-center">あなたの投稿</h3>
      <p class="heading-lv3 heading-margin text-center"><%= link_to (t 'defaults.post'), new_post_path,class: 'dropdown-item' %></p>
      <% @user.posts.each do |post| %>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title"><%= post.title %></h5>
            <p class="card-text"><%= post.content %></p>
            <%= link_to t('defaults.detail'), post_path(post), class: 'btn btn-primary' %>
            <%= link_to t('defaults.delete'),post_path(post), method: :delete, data: { confirm: t('defaults.confirm') },class: 'btn btn-danger' %>
          </div>
        </div>
      <% end %>
  </div>
</body>
