<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-5">
        <div class="card-body">
          <h1 class="card-title">Welcome to your MyPage, <%= @user.decorate.name %></h1>
          <p class="card-text">Email: <%= @user.email %></p>
          <%= link_to (t 'profiles.show.title'), profile_path, class: 'dropdown-item' %>
          <h3>My Posts</h3>
          <% @user.posts.each do |post| %>
            <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title"><%= post.title %></h5>
                <p class="card-text"><%= post.content %></p>
                <%= link_to t('defaults.detail'), post_path(post), class: 'btn btn-primary' %>
                <%= link_to t('defaults.delete'),post_path(post), method: :delete, data: { confirm: t('defaults.confirm') },class: 'btn btn-danger' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
