<div class="card-deck">
  <div class="card mb-2 h-100 post-content">
    <div class="background-image">
      <div class="row g-0">
        <div class="col-md-4 p-md-2">
          <%= image_tag post.post_image_url, class: 'card-img-top', size: '200x200' %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <div class="d-flex flex-column h-100">
              <%= link_to post.title, post_path(post), class: "post-title card-title" %>
              <h2 class="card-text small-text d-none d-md-block">
                <%= truncate(post.content, length: 80) %>
              </h2>
              <h2 class="card-text small-text d-block d-md-none">
                <%= truncate(post.content, length: 50) %>
              </h2>
              <div class="post-info post-info-bottom-right">
                <div class="d-md-block">
                  <% post.tags.each do |tag| %>
                    <span class="badge bg-primary"><%= tag.tag_type %></span>
                  <% end %>
                </div>
                <ul class="list-inline mt-2">
                  <li class="list-inline-item">
                    <%= icon 'far', 'user' %>
                    <%= post.user.decorate.name %>
                    <%= l post.created_at, format: :long %>
                  </li>
                </ul>
                <% if current_user.own?(post) %>
                  <%= render 'crud_menus', post: post %>
                <% else %>
                  <%= render 'like_button', post: post  %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
