<div class="col-sm-12 col-lg-3 mb-3">
  <div id="post-id-<%= post.id %>">
    <div class="card">
      <%= image_tag post.post_image_url, class: 'card-img-top', size: '250x300' %>
      <div class="card-body">
        <h4 class="card-title">
          <%= link_to post.title, post_path(post), class: "edit-link" %>
        </h4>
        <% if current_user.own?(post) %>
          <%= render 'crud_menus', post: post %>
        <% else %>
          <%= render 'like_button', post: post  %>
        <% end %>
        <ul class="list-inline">
          <li class="list-inline-item">
            <%= icon 'far', 'user' %>
            <%= post.user.decorate.name %>
          </li>
          <li class="list-inline-item">
            <%= icon 'far', 'calendar' %>
            <%= l post.created_at, format: :long %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>