<div class="background-post-image pt-5">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @posts.present? %>
          <% if params[:latest] %>
            <h2><%= t('.new_order') %></h2>
          <% elsif params[:old] %>
            <h2><%= t('.old_order') %></h2>
          <% elsif params[:most_liked] %>
            <h2><%= t('.like_order') %></h2>
          <% end %>
          <%= render @posts %>
        <% else %>
          <p><%= t('.no_result') %></p>
        <% end %>
      </div>
      <%= paginate @posts, theme: 'bootstrap-5' %>
    </div>
  </div>
</div>