<div class="container-fluid" style="font-family: 'arial unicode ms'; background-color: rgb(232, 239, 204);">
  <div class="row">
    <div class="col-12">
      <br>
      <br>
      <div class="post-page">
        <%= t('.title') %>
      </div>
      <br>
      <br>
      <br>
      <%= render "search", post: @post %>
      <br>
      <div class="row row-cols-md-2 g-2">
        <% if @posts.present? %>
          <%= render @posts %>
        <div class="d-flex justify-content-center">
          <%= paginate @posts, theme: 'bootstrap-5' %>
        </div>
        <% else %>
          <p><%= t('.no_result') %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
