<div class="background-post-image">
  <div class="container pt-5">
    <div class="row mb-3">
      <div class="col-lg-8 offset-lg-2">
        <h1><%= t('.title') %></h1>
        <article class="card">
          <div class="card-body">
            <div class='row'>
              <div class='col-md-9'>
                <h3 class="d-inline"><%= @post.title %></h3>
                <p>
                  <%= render 'crud_menus', post: @post if current_user.own?(@post) %>
                  <%= render 'like_button', post: @post  %>
                </p>
                <ul class="list-inline">
                  <li class="list-inline-item"><%= t('.author') %><%= @post.user.decorate.name %></li>
                  <li class="list-inline-item"><%= l @post.created_at, format: :long  %></li>
                </ul>
              </div>
            </div>
            <p><%= simple_format(@post.content) %></p>
            <% @post.tags.each do |tag| %>
              <%= tag.name %>
          <% end %>
          </div>
        </article>
      </div>
    </div>
    <%= render 'comments/form', { post: @post, comment: @comment } %>
    <%= render 'comments/comments', { comments: @comments } %>
  </div>
</div>